$color-blue: #0C2333;
$color-blue-alpha: rgba(12, 35, 51, 0.2);
$color-blue-alpha-2: rgba(12, 35, 51, 0.4);
$color-red: #891721;
$color-red-alpha: rgba(137, 23, 33, 0.2);

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  background: url('../img/backgrounds/background.jpg') no-repeat;
  background-attachment: fixed;
  background-size: cover;

  font-family: 'Josefin Sans', sans-serif;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.2;

  color: $color-blue;

  min-height: 100%;
}

.hidden {
  display: none;
}

.container {
  position: relative;
  margin: 0 auto;
  width: 100%;
  max-width: 680px;

  -webkit-transition: max-width 1s;
  -o-transition: max-width 1s;
  transition: max-width 1s;
}

body.front .container {
  max-width: 1200px;
}

.clearfix:after {
  content: ".";
  clear: both;
  display: block;
  visibility: hidden;
  height: 0px;
}

/* @group cols */
.row {
  margin-left: -15px;
  margin-right: -15px;
  &:after {
    // clearfix
    content: ".";
    clear: both;
    display: block;
    visibility: hidden;
    height: 0px;
  }

  @media only screen and (max-width: 700px) {
    margin: 0;
  }
}

[class^="col-"], [class*=" col-"] {
  float: left;
}

.col-6 {
  width: 49.99%;
  padding-left: 15px;
  padding-right: 15px;
}

.responsive {
  .col-6 {
    @media only screen and (max-width: 600px) {
      width: 100%;
      float: none;
      margin-bottom: 20px;
    }
  }
}
/* @end */

/* @group helpers */
.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.pull-left:after, .pull-right:after {
  display: block;
  float: none;
  clear: both;
  content: "";
}
/* @end */

/* @group form */
::-webkit-input-placeholder { /* WebKit browsers */
  color: $color-blue;
  -webkit-transition: color 0.5s;
  -o-transition: color 0.5s;
  transition: color 0.5s;
}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
 color: $color-blue;
 opacity: 1;
 -webkit-transition: color 0.5s;
 -o-transition: color 0.5s;
 transition: color 0.5s;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
 color: $color-blue;
 opacity: 1;
 -webkit-transition: color 0.5s;
 -o-transition: color 0.5s;
 transition: color 0.5s;
}

:-ms-input-placeholder { /* Internet Explorer 10+ */
 color: $color-blue;
 -webkit-transition: color 0.5s;
 -o-transition: color 0.5s;
 transition: color 0.5s;
}

input, textarea {
  display: block;
  border: none;
  background: $color-blue-alpha;
  height: 30px;
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  outline: none;
  padding: 0px 4px;
  margin-bottom: 4px;

  -webkit-transition: background 0.5s, color 0.5s;
  -o-transition: background 0.5s, color 0.5s;
  transition: background 0.5s, color 0.5s;

  &.birthday {
    display: none;
  }

  &:hover, &:focus {
    background: $color-blue;
    color: white;

    &::-webkit-input-placeholder { /* WebKit browsers */
      color: white;
    }

    &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
      color: white;
      opacity: 1;
    }

    &::-moz-placeholder { /* Mozilla Firefox 19+ */
      color: white;
      opacity: 1;
    }

    &:-ms-input-placeholder { /* Internet Explorer 10+ */
      color: white;
    }
  }
}

textarea {
  height: auto;
  min-height: 100px;
}

.error-message {
  padding: 15px;
  color: $color-red;
  background: $color-red-alpha;
}

.success-message {
  font-weight: bold;
  padding: 15px;
  color: $color-blue;
  background: $color-blue-alpha-2;
}

/* @end */

/* @group header */
#site-wrapper, #site-wrapper > .container {
  height: 100%;
}

.flex-box {
  display: -webkit-flex; /* Safari */
  -webkit-align-items: center; /* Safari 7.0+ */
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
}

#header {
  margin-top: 40px;
  height: auto;

  -webkit-transition: margin-top 1s;
  -o-transition: margin-top 1s;
  transition: margin-top 1s;

  .row {
    margin-left: 0;
    margin-right: 0;
  }

  a {
    border: none;
  }
}

body.front #header {
  margin-top: 0px;
  height: 100%;
}

#header-upper-wrapper {
  width: 100%;

  .col-6 {
    padding: 0;
    padding-left: 5%;
    display: table-cell;
    float: none;
    vertical-align: middle;
  }

  .slogan.col-6 {
    padding: 0;
    padding-right: 5%;
  }

  @media only screen and (max-width: 500px) {
    .slogan {
      display: none;
    }

    .col-6 {
      width: 100%;
      padding-right: 5%;
    }
  }
}

#header-lower-wrapper {
  width: 100%;
  margin-top: 30px;

  -webkit-transition: margin-top 1s;
  -o-transition: margin-top 1s;
  transition: margin-top 1s;
}

body.front #header-lower-wrapper {
  display: none;
  margin-top: 60px;
}

.slogan {
  font-size: 96px;
  text-transform: uppercase;
  font-style: italic;
  line-height: 0.7;
  text-align: right;
  color: $color-blue;

  strong {
    display: block;
    margin-right: -6px;
  }
}

#seek-slider {
  position: relative;
  width: 99%;
  height: 2px;
  background: $color-blue;

  &:before {
    position: absolute;
    content: "";
    display: block;
    height: 2px;
    width: 1%;
    left: 100%;
    background: $color-blue;
  }

  span {
    position: absolute;
    display: block;
    width: 10px;
    height: 10px;
    top: -4px;
    background: $color-red;
    border-radius: 100%;
    outline: none;

    -webkit-box-shadow: 2px 2px 10px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 2px 10px 0px rgba(0,0,0,0.75);
    box-shadow: 2px 2px 10px 0px rgba(0,0,0,0.75);

    -webkit-transition-delay: 0s;
    -o-transition-delay: 0s;
    transition-delay: 0s;

    -webkit-transition: left 0.1s;
    -o-transition: left 0.1s;
    transition: left 0.1s;
  }
}

body.front #seek-slider {
  height: 4px;

  &:before {
    height: 4px;
  }

  span {
    width: 20px;
    height: 20px;
    top: -9px;
  }
}

#header .controls {
 .pause, .play {
    margin: 0 auto;
    margin-top: 20px;
    overflow: hidden;
    display: block;
    cursor: pointer;
    width: 20px;
    height: 30px;
    border: 0;
    border-left: 7px solid #0c2333;
    border-right: 7px solid #0c2333;

    -webkit-transition: border 0.5s, width 0.5s, height 0.5s;
    -o-transition: border 0.5s, width 0.5s, height 0.5s;
    transition: border 0.5s, width 0.5s, height 0.5s;
  }

  .play {
    border: 0;
    border-left: 20px solid $color-blue;
    border-bottom: 15px solid transparent;
    border-top: 15px solid transparent;
  }
}

body.front #header .controls {
 .pause, .play {
    width: 40px;
    height: 50px;
    border: none;
    border-left: 15px solid #0c2333;
    border-right: 15px solid #0c2333;
 }

  .play {
    border: none;
    border-left: 40px solid $color-blue;
    border-bottom: 25px solid transparent;
    border-top: 25px solid transparent;
  }
}

/* @end */

/* @group main */
#main {
  margin-top: 50px;
  margin-bottom: 100px;

  a {
    color: $color-red;
    text-decoration: none;
    border-bottom: 1px solid transparent;
    -webkit-transition: border-bottom 0.5s;
    -o-transition: border-bottom 0.5s;
    transition: border-bottom 0.5s;

    &:hover {
      border-bottom-color: $color-red;
    }
  }

  > h2 {
    @media only screen and (max-width: 600px) {
      padding: 0px 15px;
    }
  }
}

#main a.internal-link, a.menu-toggle {
  background: $color-blue-alpha;
  text-align: center;
  padding: 10px 15px;
  font-size: 14px;
  display: inline-block;
  color: $color-blue;
  border: none;
  text-transform: uppercase;

  cursor: pointer;

  -webkit-transition: background 0.5s, color 0.5s;
  -o-transition: background 0.5s, color 0.5s;
  transition: background 0.5s, color 0.5s;

  &:hover {
    border: none;
    color: white;
    background: $color-blue;
  }
}

body.front #main {
  margin: 0;
  margin-bottom: -50px;
}

h2 {
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  line-height: 1;
  margin-bottom: 30px;
}

p {
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
  position: relative;

  &:last-child {
    margin-bottom: 0;
  }

  &.with-logo {
    line-height: 2.2;
  }

  &.lead {
    font-size: 40px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 100;
  }

  &.center {
    text-align: center;
    padding: 15px 0px;
    font-style: italic;
    background: $color-blue-alpha;

    &:before, &:after {
      position: absolute;
      width: 100px;
      height: 1px;
      left: 50%;
      top: 0px;
      margin-left: -50px;
      background: $color-blue;
     // content: "";
    }

    &:after {
      top: auto;
      bottom: 0px;
    }
  }
}

figure {
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
  overflow: hidden;
  margin-bottom: 40px;

  img {
    width: 100%;
    height: auto;
  }

  figcaption {
    position: absolute;
    left: 0px;
    bottom: 4px;
    padding-top: 100px;
    font-size: 40px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 100;
    background: rgba(255,255,255,0);
    background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.7) 57%, rgba(255,255,255,0.7) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,0)), color-stop(57%, rgba(255,255,255,0.7)), color-stop(100%, rgba(255,255,255,0.7)));
    background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.7) 57%, rgba(255,255,255,0.7) 100%);
    background: -o-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.7) 57%, rgba(255,255,255,0.7) 100%);
    background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.7) 57%, rgba(255,255,255,0.7) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,0.7) 57%, rgba(255,255,255,0.7) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=0 );

    @media only screen and (max-width: 500px) {
      position:relative;
      padding-top: 20px;
      font-size: 30px;
    }
  }
}

dl {
  margin: 0;

  &.dl-horizontal {
    dt {
      float: left;
      clear: left;
      width: 20px;
      margin-right: 10px;
      font-weight: bold;
    }

    dd {
      float: left;
    }
  }
}

.lowercase {
  text-transform: lowercase;
}

article {
  margin-bottom: 20px;

  h2 {
    font-weight: 100;
    margin-bottom: 10px;
  }

  &.with-image {
    h2 {
      display: inline-block;
    }

    img {
      float: left;
      padding-right: 10px;
      display: block;
      position: relative;
      height: auto;
      width: 205px;
    }
  }
}

.logo-small {
  height: 50px;
  vertical-align: bottom;
}

/* @end */

/* @group menu */
.nav-wrapper {
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  z-index: 998;

  .menu-toggle {
    display: none;
    width: 100%;
  }
}

nav#main-menu {
  width: 100%;
  text-align: center;
  line-height: 0;

  ul {
    list-style: none;
    margin:0;
    padding: 0;
    display: inline-block;

    li {
      list-style: none;
      display: block;
      float: left;
      background: darken(white, 40);
      margin-right: 15px;

      -webkit-transition: background 0.5s;
      -o-transition: background 0.5s;
      transition: background 0.5s;

      &:last-child {
        margin-right: 0;
      }

      a {
        font-weight: 100;
        font-style: italic;
        text-transform: uppercase;
        color: $color-blue;
        font-size: 40px;
        text-decoration: none;
        line-height: 1;
        display: block;
        padding: 15px 15px 20px 15px;
      }

      &:hover, &.active {
        background: white;
      }
    }
  }
}

@media only screen and (max-width: 735px) {
  .nav-wrapper {
    position: relative;
    margin-top: 20px;

    .menu-toggle {
      display: block;
    }
  }

  nav#main-menu {
    display: none;
    ul {
      width: 100%;

      li {
        margin: 0;
        float: none;
      }
    }
  }
}

#thorben-ziegler {
  position: fixed;
  right: 10px;
  bottom: 10px;

  z-index: 999;
  display: block;

  height: 30px;
  width: 135px;

  text-indent: -99999px;

  background: url(../img/elements/thorbenziegler-logo.png);
  background-size: contain;

  -webkit-transition: background 0.5s;
  -o-transition: background 0.5s;
  transition: background 0.5s;

  &:hover {
    background-position: 135px 0px;
  }

  @media only screen and (max-width: 1020px) {
    bottom: auto;
    top: 10px;
  }
}
/* @end */