* { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

html, body { width: 100%; height: 100%; }

body { background: url("../img/backgrounds/background.jpg") no-repeat; background-attachment: fixed; background-size: cover; font-family: 'Josefin Sans', sans-serif; font-weight: normal; font-size: 18px; line-height: 1.2; color: #0c2333; min-height: 100%; }

.hidden { display: none; }

.container { position: relative; margin: 0 auto; width: 100%; max-width: 680px; -webkit-transition: max-width 1s; -o-transition: max-width 1s; transition: max-width 1s; }

body.front .container { max-width: 1200px; }

.clearfix:after { content: "."; clear: both; display: block; visibility: hidden; height: 0px; }

/* @group cols */
.row { margin-left: -15px; margin-right: -15px; }
.row:after { content: "."; clear: both; display: block; visibility: hidden; height: 0px; }
@media only screen and (max-width: 700px) { .row { margin: 0; } }

[class^="col-"], [class*=" col-"] { float: left; }

.col-6 { width: 49.99%; padding-left: 15px; padding-right: 15px; }

@media only screen and (max-width: 600px) { .responsive .col-6 { width: 100%; float: none; margin-bottom: 20px; } }

/* @end */
/* @group helpers */
.pull-left { float: left; }

.pull-right { float: right; }

.pull-left:after, .pull-right:after { display: block; float: none; clear: both; content: ""; }

/* @end */
/* @group form */
::-webkit-input-placeholder { /* WebKit browsers */ color: #0c2333; -webkit-transition: color 0.5s; -o-transition: color 0.5s; transition: color 0.5s; }

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */ color: #0c2333; opacity: 1; -webkit-transition: color 0.5s; -o-transition: color 0.5s; transition: color 0.5s; }

::-moz-placeholder { /* Mozilla Firefox 19+ */ color: #0c2333; opacity: 1; -webkit-transition: color 0.5s; -o-transition: color 0.5s; transition: color 0.5s; }

:-ms-input-placeholder { /* Internet Explorer 10+ */ color: #0c2333; -webkit-transition: color 0.5s; -o-transition: color 0.5s; transition: color 0.5s; }

input, textarea { display: block; border: none; background: rgba(12, 35, 51, 0.2); height: 30px; width: 100%; max-width: 100%; min-width: 100%; outline: none; padding: 0px 4px; margin-bottom: 4px; -webkit-transition: background 0.5s, color 0.5s; -o-transition: background 0.5s, color 0.5s; transition: background 0.5s, color 0.5s; }
input.birthday, textarea.birthday { display: none; }
input:hover, input:focus, textarea:hover, textarea:focus { background: #0c2333; color: white; }
input:hover::-webkit-input-placeholder, input:focus::-webkit-input-placeholder, textarea:hover::-webkit-input-placeholder, textarea:focus::-webkit-input-placeholder { /* WebKit browsers */ color: white; }
input:hover:-moz-placeholder, input:focus:-moz-placeholder, textarea:hover:-moz-placeholder, textarea:focus:-moz-placeholder { /* Mozilla Firefox 4 to 18 */ color: white; opacity: 1; }
input:hover::-moz-placeholder, input:focus::-moz-placeholder, textarea:hover::-moz-placeholder, textarea:focus::-moz-placeholder { /* Mozilla Firefox 19+ */ color: white; opacity: 1; }
input:hover:-ms-input-placeholder, input:focus:-ms-input-placeholder, textarea:hover:-ms-input-placeholder, textarea:focus:-ms-input-placeholder { /* Internet Explorer 10+ */ color: white; }

textarea { height: auto; min-height: 100px; }

.error-message { padding: 15px; color: #891721; background: rgba(137, 23, 33, 0.2); }

.success-message { font-weight: bold; padding: 15px; color: #0c2333; background: rgba(12, 35, 51, 0.4); }

/* @end */
/* @group header */
#site-wrapper, #site-wrapper > .container { height: 100%; }

.flex-box { display: -webkit-flex; /* Safari */ -webkit-align-items: center; /* Safari 7.0+ */ display: flex; align-items: center; height: 100%; width: 100%; }

#header { margin-top: 40px; height: auto; -webkit-transition: margin-top 1s; -o-transition: margin-top 1s; transition: margin-top 1s; }
#header .row { margin-left: 0; margin-right: 0; }
#header a { border: none; }

body.front #header { margin-top: 0px; height: 100%; }

#header-upper-wrapper { width: 100%; }
#header-upper-wrapper .col-6 { padding: 0; padding-left: 5%; display: table-cell; float: none; vertical-align: middle; }
#header-upper-wrapper .slogan.col-6 { padding: 0; padding-right: 5%; }
@media only screen and (max-width: 500px) { #header-upper-wrapper .slogan { display: none; }
  #header-upper-wrapper .col-6 { width: 100%; padding-right: 5%; } }

#header-lower-wrapper { width: 100%; margin-top: 30px; -webkit-transition: margin-top 1s; -o-transition: margin-top 1s; transition: margin-top 1s; }

body.front #header-lower-wrapper { display: none; margin-top: 60px; }

.slogan { font-size: 96px; text-transform: uppercase; font-style: italic; line-height: 0.7; text-align: right; color: #0c2333; }
.slogan strong { display: block; margin-right: -6px; }

#seek-slider { position: relative; width: 99%; height: 2px; background: #0c2333; }
#seek-slider:before { position: absolute; content: ""; display: block; height: 2px; width: 1%; left: 100%; background: #0c2333; }
#seek-slider span { position: absolute; display: block; width: 10px; height: 10px; top: -4px; background: #891721; border-radius: 100%; outline: none; -webkit-box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.75); -moz-box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.75); box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.75); -webkit-transition-delay: 0s; -o-transition-delay: 0s; transition-delay: 0s; -webkit-transition: left 0.1s; -o-transition: left 0.1s; transition: left 0.1s; }

body.front #seek-slider { height: 4px; }
body.front #seek-slider:before { height: 4px; }
body.front #seek-slider span { width: 20px; height: 20px; top: -9px; }

#header .controls .pause, #header .controls .play { margin: 0 auto; margin-top: 20px; overflow: hidden; display: block; cursor: pointer; width: 20px; height: 30px; border: 0; border-left: 7px solid #0c2333; border-right: 7px solid #0c2333; -webkit-transition: border 0.5s, width 0.5s, height 0.5s; -o-transition: border 0.5s, width 0.5s, height 0.5s; transition: border 0.5s, width 0.5s, height 0.5s; }
#header .controls .play { border: 0; border-left: 20px solid #0c2333; border-bottom: 15px solid transparent; border-top: 15px solid transparent; }

body.front #header .controls .pause, body.front #header .controls .play { width: 40px; height: 50px; border: none; border-left: 15px solid #0c2333; border-right: 15px solid #0c2333; }
body.front #header .controls .play { border: none; border-left: 40px solid #0c2333; border-bottom: 25px solid transparent; border-top: 25px solid transparent; }

/* @end */
/* @group main */
#main { margin-top: 50px; margin-bottom: 100px; }
#main a { color: #891721; text-decoration: none; border-bottom: 1px solid transparent; -webkit-transition: border-bottom 0.5s; -o-transition: border-bottom 0.5s; transition: border-bottom 0.5s; }
#main a:hover { border-bottom-color: #891721; }
@media only screen and (max-width: 600px) { #main > h2 { padding: 0px 15px; } }

#main a.internal-link, a.menu-toggle { background: rgba(12, 35, 51, 0.2); text-align: center; padding: 10px 15px; font-size: 14px; display: inline-block; color: #0c2333; border: none; text-transform: uppercase; cursor: pointer; -webkit-transition: background 0.5s, color 0.5s; -o-transition: background 0.5s, color 0.5s; transition: background 0.5s, color 0.5s; }
#main a.internal-link:hover, a.menu-toggle:hover { border: none; color: white; background: #0c2333; }

body.front #main { margin: 0; margin-bottom: -50px; }

h2 { font-size: 40px; font-weight: bold; text-transform: uppercase; margin: 0; padding: 0; line-height: 1; margin-bottom: 30px; }

p { padding: 0; margin: 0; margin-bottom: 20px; position: relative; }
p:last-child { margin-bottom: 0; }
p.with-logo { line-height: 2.2; }
p.lead { font-size: 40px; text-transform: uppercase; text-align: center; font-weight: 100; }
p.center { text-align: center; padding: 15px 0px; font-style: italic; background: rgba(12, 35, 51, 0.2); }
p.center:before, p.center:after { position: absolute; width: 100px; height: 1px; left: 50%; top: 0px; margin-left: -50px; background: #0c2333; }
p.center:after { top: auto; bottom: 0px; }

figure { margin: 0; padding: 0; position: relative; width: 100%; overflow: hidden; margin-bottom: 40px; }
figure img { width: 100%; height: auto; }
figure figcaption { position: absolute; left: 0px; bottom: 4px; padding-top: 100px; font-size: 40px; text-transform: uppercase; text-align: center; font-weight: 100; background: rgba(255, 255, 255, 0); background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.7) 57%, rgba(255, 255, 255, 0.7) 100%); background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(57%, rgba(255, 255, 255, 0.7)), color-stop(100%, rgba(255, 255, 255, 0.7))); background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.7) 57%, rgba(255, 255, 255, 0.7) 100%); background: -o-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.7) 57%, rgba(255, 255, 255, 0.7) 100%); background: -ms-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.7) 57%, rgba(255, 255, 255, 0.7) 100%); background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.7) 57%, rgba(255, 255, 255, 0.7) 100%); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ffffff', GradientType=0 ); }
@media only screen and (max-width: 500px) { figure figcaption { position: relative; padding-top: 20px; font-size: 30px; } }

dl { margin: 0; }
dl.dl-horizontal dt { float: left; clear: left; width: 20px; margin-right: 10px; font-weight: bold; }
dl.dl-horizontal dd { float: left; }

.lowercase { text-transform: lowercase; }

article { margin-bottom: 20px; }
article h2 { font-weight: 100; margin-bottom: 10px; }
article.with-image h2 { display: inline-block; }
article.with-image img { float: left; padding-right: 10px; display: block; position: relative; height: auto; width: 205px; }

.logo-small { height: 50px; vertical-align: bottom; }

/* @end */
/* @group menu */
.nav-wrapper { position: fixed; bottom: 0px; left: 0px; width: 100%; z-index: 998; }
.nav-wrapper .menu-toggle { display: none; width: 100%; }

nav#main-menu { width: 100%; text-align: center; line-height: 0; }
nav#main-menu ul { list-style: none; margin: 0; padding: 0; display: inline-block; }
nav#main-menu ul li { list-style: none; display: block; float: left; background: #999999; margin-right: 15px; -webkit-transition: background 0.5s; -o-transition: background 0.5s; transition: background 0.5s; }
nav#main-menu ul li:last-child { margin-right: 0; }
nav#main-menu ul li a { font-weight: 100; font-style: italic; text-transform: uppercase; color: #0c2333; font-size: 40px; text-decoration: none; line-height: 1; display: block; padding: 15px 15px 20px 15px; }
nav#main-menu ul li:hover, nav#main-menu ul li.active { background: white; }

@media only screen and (max-width: 735px) { .nav-wrapper { position: relative; margin-top: 20px; }
  .nav-wrapper .menu-toggle { display: block; }
  nav#main-menu { display: none; }
  nav#main-menu ul { width: 100%; }
  nav#main-menu ul li { margin: 0; float: none; } }
#thorben-ziegler { position: fixed; right: 10px; bottom: 10px; z-index: 999; display: block; height: 30px; width: 135px; text-indent: -99999px; background: url(../img/elements/thorbenziegler-logo.png); background-size: contain; -webkit-transition: background 0.5s; -o-transition: background 0.5s; transition: background 0.5s; }
#thorben-ziegler:hover { background-position: 135px 0px; }
@media only screen and (max-width: 1020px) { #thorben-ziegler { bottom: auto; top: 10px; } }

/* @end */
